/* #region common styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
/* #endregion common styles*/

/* #region section latest-posts*/
.posts {
  background-color: #f2f2f2;
  padding-bottom: 116px;
  text-align: center;
}
.post-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 120px;
  padding-right: 123px;
}
.posts__title {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 25px;
}
.posts__title::before,
.posts__title::after {
  position: absolute;
  top: 19px;
  content: "";
  width: 165px;
  height: 2px;
  background-color: #D9D9D9;
  border-radius: 20px;
}
.posts__title::before {
  left: 185px;
}
.posts__title::after {
  right: 185px;
}
.posts__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
}
.post__top {
  padding-bottom: 11px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__author {
  display: flex;
  align-items: center;
  padding-left: 47px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  background: url(./assets/img/author.jpg) no-repeat left;
}
.post__date {
  font-size: 16px;
  line-height: 19px;
  color: #838383;
}
.post__img {
  line-height: 0;
  width: 100%;
}
.posts__post {
  background: #FFFFFF;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  max-width: 377px;
  width: 100%;
  text-align: initial;
}
.post__content {
  padding-left: 10px;
}
.post__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-right: 25px;
  padding-left: 17px;
}
.post__title {
  font-size: 20px;
  line-height: 23px;
  padding-top: 16.91px;
  padding-bottom: 13px;
  padding-left: 10px;
}
.post__content {
  font-size: 16px;
  line-height: 25px;
  color: #838383;
}
.info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #838383;
}
.info__read {
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}
.info__likes {
  padding-left: 18px;
  margin-right: 12px;
  cursor: pointer;
  background: url(./assets/svg/heart.svg) no-repeat left;
}
.info__views {
  padding-left: 18px;
  background: url(./assets/svg/eye.svg) no-repeat left;
}
/* #endregion section latest-posts*/